<div id='course-recommendation'>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Size</th>
                <th scope="col">Keywords</th>
                <th scope="col">Download link</th>
                <th scope="col">Reference</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="#Course Recommendation">Course Recommendation</a></td>
            <td>17.4 MB</td>
            <td>Recommendation, Reinforcement Learning</td>
            <td><a href="http://lfs.aminer.cn/misc/moocdata/data/course_recommendation.rar">data</a></td>
            <td><a href="https://xiaojingzi.github.io/publications/AAAI19-zhang-et-al-HRL.pdf" target="_blank">AAAI'19</a></td>
        </tr>
       </tbody>
    </table>
    <div id="detail_infomation">
        <hr />
        <div class="dataset">
            <a name="Course Recommendation" class="tin">
                <h4>Course Recommendation</h4>
            </a>
            <p>
                dataset of paper: Hierarchical Reinforcement Learning for Course Recommendation in MOOCs
                <br />
                We collect the dataset from XuetangX——one of the largest MOOCs in China and the dataset is available. (data.csv)
                <br />
                Data Description:
                <br />
                stu_id: student id.
                <br />
                time: the first time that the student enrolled the corresponding course.
                <br />
                course_index: the course id.
                <br />
                name: the name of the course.
                <br />
                type: the type of the course.
                <br />
                type_id: the type id.
                <br />
                Update: October 13, 2018
            </div>
    </div>
</div>
 
