<div id="kdd-cup-2015">
    <h2 style="text-align:center;">
        <a href="https://biendata.com/competition/kddcup2015/" target="_blank">KDD Cup 2015</a>
    </h2>
	<h3>Background</h3>
    <p>
        Students' high dropout rate on MOOC platforms has been heavily criticized, and predicting their likelihood of dropout would be useful for maintaining and encouraging students' learning activities. Therefore, in KDD Cup 2015, we will predict dropout on XuetangX, one of the largest MOOC platforms in China.
    </p>
	<h3>Description</h3>
    <p>
        The competition participants need to predict whether a user will drop a course within next 10 days based on his or her prior activities. If a user C leaves no records for course C  in the log during the next 10 days, we define it as dropout from course C.
    </p>
	<h3>About XuetangX (in 2015)</h3>
    <p>
        XuetangX, a Chinese MOOC learning platform initiated by Tsinghua University, was officially launched online on Oct 10th, 2013. In April 2014, XuetangX signed a contract with edX, one of the biggest global MOOC learning platform co-founded by Harvard University and MIT, to acquire the exclusive authorization of edX's high-quality international courses. In December 2014, XuetangX signed the Memorandum of Cooperation with FUN, the national MOOC platform in France, to make bilateral effort in course construction, platform development and other aspects. So far, there are more than 100 Chinese courses and over 260 international courses available on XuetangX.
    </p>
	<h3>Timeline (in 2015)</h3>
    <p>
        <ul>
            <li>May 1 - May 15: Review Problem and Download Data</li>
            <li>July 12: End Date</li>
            <li>July 12: Winner Announcement</li>
        </ul>
    </p>
	<h3>Prizes</h3>
    <p>
        Prizes for the 2015 KDD Cup are provided by the <a href="http://www.xuetangx.com" target="_blank">XuetangX</a>.
        <ul>
            <li>1st place - $10,000</li>
            <li>2nd place - $3,500</li>
            <li>3rd place - $2,000</li>
            <li>4th place - $1,000</li>
            <li>5th place - $1,000</li>
            <li>6th to 10th places - the remaining $2,500 is for the organizer to pay these teams for attending the conference. </li>
        </ul>
    </p>
    More information about the competition and data, please check the website
    <a href="https://biendata.com/competition/kddcup2015/" target="_blank">https://biendata.com/competition/kddcup2015/</a>.
</div>