<div id="mooccube-2020">
    <h2 style="text-align:center;">
        MOOCCube学生行为分析挑战赛
    </h2>
    <h3>背景</h3>
    <p>
        2020链想家计算科技大赛，由区块链教育新媒体平台链想家主办，biendata竞赛平台承办。旨在培养高质量的高新技术人才队伍，实现区块链技术与人工智能技术对不同行业的赋能改造。
        <br/>
        链想家致力于将本次大赛打造为中国参赛人数最多的前沿科技比赛之一，并以大赛为抓手，进一步宣传贯彻国家创新驱动战略，深化人工智能和区块链技术在各行各业的应用改革，推动社会各界对高新技术人才培养的重视，切实提高大众的创新精神、创业意识、创新创业能力。助推传统产业转型发展,促进各行各业形成新业态、新经济、新模式。
    </p>
    <h3>赛题介绍</h3>
    <p>
        Mooc即大型开放式网络课程（Massive Open Online Courses）是目前最热门的线上学习方式之一。自2007年8月大卫‧怀利在犹他州州立大学教授早期的大型开放式网络课程至今，Mooc即大型开放式网络课程（Massive Open Online Courses）已经经历了13年的发展，成为了目前最热门的线上学习方式之一。
        <br/>
        目前，全球范围内的Mooc用户已超过1亿，知名Mooc平台如Coursera,Udacity,学堂在线，中国大学Mooc等为全世界渴望学习知识的人提供了大量丰富的课程内容资源。截至2019年底，全球有超过900所大学提供了约11,400个慕课课程，仅2018年便有2000个新增课程。然而课程数量的高速增长却使得每个课程的用户越来越少，如何为用户提供更高质量的课程服务以及提升学生的学习质量也成为了严峻的挑战。
        <br/>
        本赛题由学堂在线与清华大学大规模在线教育研究中心特别支持。
    </p>
    <h3>赛题任务</h3>
    <p>
        <a href="https://www.biendata.xyz/competition/chaindream_mooccube_task1/" target="_blank">学生退课行为预测</a>
        <br/>
        任务一为预测学生退课行为。参赛选手需要根据学生的课堂表现，观看视频，参与答题情况，预测学堂在线的某一名学生是否中途退课。
        <br/>
        <a href="https://www.biendata.xyz/competition/chaindream_mooccube_task2/" target="_blank">学生答题正确性预测</a>
        <br/>
        任务二为预测学生答题正确性。参赛选手需要根据学生的课堂表现，参与度等，预测学生对于给定的题目是否能正确作答。
    </p>
    <p>
        <h3>时间安排</h3>
        <ul>
            <li>2020.06.08: 赛事启动，开放报名</li>
            <li>2020.10.31: 初赛提交截止，关闭报名与组队</li>
            <li>2020.11.01: 开启复赛，开放测试集下载</li>
            <li>2020.11.02: 复赛提交截止</li>
            <li>2020.11.15: 确认最终比赛排名</li>
        </ul>
    </p>
    <h3>大赛奖励（单任务）</h3>
    <p>
        <ul>
            <li>1st place - ¥40,000</li>
            <li>2nd place - ¥25,000</li>
            <li>3rd place - ¥10,000</li>
        </ul>
    </p>
</div>