<div class="row">
    <div class="col-md-3" style="margin-top: 5px;">
        <img src="/static/picture/2019-Jie-Tang-AI driven MOOCs.png" width="240">
    </div>
    <div class="col-md-9">
        <div class="pubs-title">
            <b>AI driven MOOCs.</b>
            [<a href="http://lfs.aminer.cn/misc/moocdata/publications/2019-Jie-Tang-AI driven MOOCs.pdf" target="_blank">Slides</a>]
        </div>
        <div class="pubs-author">
            Jie Tang.
        </div>
        <div class="pubs-conf">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="margin-top: 5px;">
        <img src="/static/picture/slides-invited-talk-Can AI help MOOCs.png" width="240">
    </div>
    <div class="col-md-9">
        <div class="pubs-title">
            <b>Can AI help MOOC?</b>
            [<a href="http://lfs.aminer.cn/misc/moocdata/publications/slides-invited-talk-Can AI help MOOCs.pdf" target="_blank">Slides</a>]
        </div>
        <div class="pubs-author">
            Jie Tang.
        </div>
        <div class="pubs-conf">
            at Fudan, CNCC Session, <a href="http://www.kdd.org/kdd2017/" target="_blank"><i>China Session at KDD 2017</i></a>.
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3" style="margin-top: 5px;">
        <img src="/static/picture/slides-xuetangX-www14.png" width="240">
    </div>
    <div class="col-md-9">
        <div class="pubs-title">
            <b>XuetangX--The Platform for Chinese MOOC.</b>
            [<a href="http://lfs.aminer.cn/misc/moocdata/publications/slides-xuetangX-www14.pdf" target="_blank">Slides</a>]
        </div>
        <div class="pubs-author">
            Jie Tang.
        </div>
        <div class="pubs-conf">
            April 2014, Invited talk given at
            <a href="http://www2014.org/program/webet-2014" target="_blank"><i>WWW'14 Workshop on Web-based Education Technologies</i></a>.
        </div>
    </div>
</div>