<div class="row">
    <div class="col-md-3" style="margin-top: 25px;">
        <img src="/static/picture/WSDM16-Qiu-et-al-Modeling-Behavior-in-MOOCs.png" width="240">
    </div>
    <div class="col-md-9">
        <div class="pubs-title">
            <b>Modeling and Predicting Learning Behavior in MOOCs.</b>
            [<a href="http://lfs.aminer.cn/misc/moocdata/publications/WSDM16-Qiu-et-al-Modeling-Behavior-in-MOOCs.pdf" target="_blank">PDF</a>]
            [<a href="http://lfs.aminer.cn/misc/moocdata/data/wsdm16-dynamic-factor-graph-master.zip">Code</a>]
            [<a href="http://lfs.aminer.cn/misc/moocdata/data/data-wsdm16-mooc.zip">Data</a>]
            [<a href="http://www.kddcup2015.com/information.html" target="_blank">KDD Cup 2015</a>]
        </div>
        <div class="pubs-author">
            Jiezhong Qiu, Jie Tang, Tracy Xiao Liu, Jie Gong, Chenhui Zhang, Qian Zhang, and Yufei Xue.
        </div>
        <div class="pubs-conf">
            In <a href="http://www.wsdm-conference.org/2016/" target="_blank"><i>Proceedings of the Ninth ACM International Conference
                on Web Search and Data Mining</i></a>
            (<a href="http://www.wsdm-conference.org/2016/" target="_blank">WSDM'16</a>), pages 93-102.
        </div>
        <p class="pubs-abstract">
            Massive Open Online Courses (MOOCs), which collect complete records of all student interactions in an online learning environment, offer us an unprecedented opportunity to analyze students' learning behavior at a very fine granularity than ever before.
            <br />
            Using dataset from xuetangX, one of the largest MOOCs from China, we analyze key factors that influence students' engagement in MOOCs and study to what extent we could infer a student's learning effectiveness. We observe significant behavioral heterogeneity in students' course selection as well as their learning patterns. For example, students who exert higher effort and ask more questions are not necessarily more likely to get certificates. Additionally, the probability that a student obtains the course certificate increases dramatically (3x higher) when she has one or more "certificate friends".
            <br />
            Moreover, we develop a unified model to predict students' learning effectiveness, by incorporating user demographics, forum activities, and learning behavior. We demonstrate that the proposed model significantly outperforms (+2.03-9.03% by F1-score) several alternative methods in predicting students' performance on assignments and course certificates. The model is flexible and can be applied to various settings. For example, we are deploying a new feature into xuetangX to help teachers dynamically optimize the teaching process.
        </p>
    </div>
</div>