<div class="row">
    <div class="col-md-3" style="margin-top: 25px;">
        <img src="/static/picture/ACL20-Yu-et-al-MOOCCube.png" width="240">
    </div>
    <div class="col-md-9">
        <div class="pubs-title">
            <b>MOOCCube: A Large-scale Data Repository for NLP Applications in MOOCs.</b>
            [<a href="http://lfs.aminer.cn/misc/moocdata/publications/ACL20_Yu-et-al-MOOCCube.pdf" target="_blank">PDF</a>]
            [<a href="/data/MOOCCube">Data</a>]
        </div>
        <div class="pubs-author">
            Jifan Yu*, Gan Luo*, Tong Xiao, Qingyang Zhong, Yuquan Wang, Wenzheng Feng, Junyi Luo, Chenyu Wang, Lei Hou, Juanzi Li, Zhiyuan Liu, Jie Tang.
        </div>
        <div class="pubs-conf">
            In <a href="https://acl2020.org/" target="_blank"><i> In Proceedings of the 58th Annual Meeting of the Association of Computational Linguistics</i></a>
            (<a href="https://acl2020.org/" target="_blank">ACL'20</a>).
        </div>
        <p class="pubs-abstract">
        The prosperity of Massive Open Online Courses (MOOCs) provides fodder for many NLP and AI research for education applications, e.g., course concept extraction, prerequisite relation discovery, etc. However, the publicly available datasets of MOOC are limited in size with few types of data, which hinders advanced models and novel attempts in related topics. Therefore, we present MOOCCube, a large-scale data repository of over 700 MOOC courses, 100k concepts, 8 million student behaviors with external resource. Moreover, we conduct prerequisite discovery task as an example application to show the potential of MOOCCube in facilitating relevant research.
        </p>
    </div>
</div>