<nav id="page-header" class="navbar navbar-expand-lg navbar-light justify-content-between"
     style="background-color: #FFFFFF; max-width: 980px;">
    <a href="/">
        <img src="/static/picture/moocdata.png">
    </a>
    <div id="collapse navbar-collapse" style="float: right;">
        <ul class="nav navbar-nav justify-content-end">
            <li class="nav-item" id="mkg-href">
                <a class="nav-link" href="/mooc_knowledge_graph/MOOC Knowledge Graph" target="_blank">
                    <b>MOOC KG</b>
                </a>
            </li>
            <li class="nav-item dropdown" id="data-href">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                   id="data-dropdown" aria-haspopup="true" aria-expanded="false" href="/data">
                    <b>data</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="data-dropdown">
                    <a class="dropdown-item" href="/data/xiaomu-question">Xiaomu Questioning</a>
                    <a class="dropdown-item" href="/data/concept-extraction">Course Concept Extraction</a>
                    <a class="dropdown-item" href="/data/prerequisite-relation">Course Prerequisite Relation</a>
                    <a class="dropdown-item" href="/data/user-activity">User Activity</a>
                    <a class="dropdown-item" href="/data/course-recommendation">Course Recommendation</a>
                </div>
            </li>
            <li class="nav-item" id="publication-href">
                <a class="nav-link" href="/publications">
                    <b>Publications</b>
                </a>
            </li>
            <li class="nav-item dropdown" id="challenge-href">
                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                   id="challenge-dropdown" aria-haspopup="true" aria-expanded="false" href="/challenges">
                    <b>Challenges</b>
                </a>
                <div class="dropdown-menu" aria-labelledby="challenge-dropdown">
                    <a class="dropdown-item" href="/challenges/kdd-cup-2015">KDD Cup 2015</a>
                </div>
            </li>
            <li class="nav-item" id="about-href">
                <a class="nav-link" href="/about">
                    <b>About</b>
                </a>
            </li>
        </ul>
    </div>
</nav>
